@import "@storefront-ui/vue/styles.scss";
@import "@/assets/scss/variables.scss";

// Global styles for theme

html {
  overflow-x: hidden;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--c-link);
  &:hover {
    color: var(--c-link-hover);
  }
}

/*Header styles*/
h1 {
  font-family: var(--font-family--secondary);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight--bold);
  line-height: 1.6;
  margin: 0;
}

h2 {
  font-family: var(--font-family--secondary);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight--normal);
  line-height: 1.6;
  margin: 0;
}

h3 {
  font-family: var(--font-family--secondary);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight--semibold);
  line-height: 1.6;
  margin: 0;
}

h4 {
  font-family: var(--font-family--secondary);
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight--medium);
  line-height: 1.6;
  margin: 0;
}

h5 {
  font-family: var(--font-family--secondary);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight--normal);
  line-height: 1.6;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family--primary);
  font-weight: var(--font-weight--normal);
  font-size: var(--font-size--base);
  line-height: 1.6;
}

#__nuxt {
  height: 100vh;
}

#__layout {
  height: 100%;
}

// global fix for bottom modal
.sf-bottom-modal {
  --button-height: 60px;
  z-index: 1;
  left: 0;
}
