@import "~@storefront-ui/shared/styles/variables.scss";

$tablet: 768px;

// Global variables for theme
#__nuxt {
  --boxed-mode-max-width: 1366px;
  --bottom-navigation-height: 3.35rem;
}

@mixin for-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin sizing-mode-boxed {
  @include for-desktop {
    max-width: var(--boxed-mode-max-width);
    margin: 0 auto;
  }
}
