@import "~@storefront-ui/shared/styles/variables";

// Global variables for theme

// #__nuxt {
//   --c-primary: #5ece7b;
// }

$tablet: 768px;

@mixin for-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin sizing-mode-boxed {
  @include for-desktop {
    max-width: 1320px;
    margin: 0 auto;
  }
}